@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  background-image: url('/images/desktop-wallpaper-portfolio.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
